<!DOCTYPE html>
<html>
<head>
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/jquery-ui-1.11.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" media="screen" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" media="screen"
          rel="stylesheet"/>
    <link href="/css/main.css"
          rel="stylesheet"/>
</head>
<body class="background error-page-wrapper background-color background-image">
<div class="content-container shadow">
    <div class="head-line secondary-text-color">
        404
    </div>
    <div class="subheader primary-text-color">
        Oops, the page you're looking for does not exist.
    </div>
    <div class="hr"></div>
    <div class="context secondary-text-color">
        <p>
            You may want to head back to the homepage.
            If you think something is broken, report a problem.
        </p>
    </div>
    <div class="buttons-container">
        <a class="button" href="http://localhost:2222/"><span class="fa fa-home"></span> Anasayfaya Git</a>
    </div>
</div>

</body>
</html>
